<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="application-name" content="slogs" />
    <meta name="theme-color" content="#0f3d34" />
    <meta name="msapplication-TileColor" content="#0f3d34" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["css/tailwind.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Slogs.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/svg+xml" sizes="any" href="@Assets["favicon.svg"]" />
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32 48x48" href="@Assets["favicon.ico"]" />
    <link rel="alternate icon" type="image/png" href="@Assets["favicon.png"]" />
    <link rel="apple-touch-icon" href="@Assets["favicon.svg"]" />
    <link rel="mask-icon" href="@Assets["favicon.svg"]" color="#0f3d34" />
    <link rel="manifest" href="@Assets["site.webmanifest"]" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body class="bg-slate-100">
    <Routes @rendermode="InteractiveServer" />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["app.js"]"></script>
</body>

</html>
